@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #EBE9FE;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 1px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
